resources/public/js/out
resources/public/js/main.js
/target
/lib
/classes
/checkouts
/out
/.repl
pom.xml
pom.xml.asc
\#*\#
.\#*
.settings
.idea
*.iml
*.jar
*.class
*-init.clj
figwheel_server.log
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
.lein-classpath
