*.class
*.jar
!/repo/**/*.jar
/.lein-*
/.cljs_rhino_repl/
/.nrepl-port
/.repl
/checkouts/
/classes/
/lib/
log
/out/
/resources/public/js/**
/target/
figwheel_server.log
pom.xml
pom.xml.asc
\#*\#
.\#*
.settings
.idea
*.iml