{:labels [],
 :repository {:name "hello-world", :tag "latest", :tags []},
 :mounts [],
 :secrets [],
 :distribution nil,
 :mode "replicated",
 :isValid true,
 :variables [],
 :networks [],
 :ports [],
 :replicas 1,
 :deployment {:autoredeploy false,
              :restartPolicy {:condition "any", :delay 5, :attempts 0},
              :update {:parallelism 1, :delay 0, :failureAction "pause"},
              :rollback {:parallelism 1, :delay 0, :failureAction "pause"},
              :placement []},
 :serviceName "created"}