html > body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: rgb(117, 117, 117);
}

body {
    margin: 0px;
}

.closed {
    opacity: 0;
}

.layout {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.layout-closed {
    width: calc(100vw - 70px);
    margin-left: 70px;
}

.layout-opened {
    width: calc(100vw - 200px);
    margin-left: 200px;
}

header .appbar {
    box-shadow: none !important;
}

nav .drawer-container {
    box-shadow: none !important;
    border-right: 1px solid #e0e4e7;
}

nav .drawer-appbar {
    box-shadow: none !important;
}

nav .drawer-item {
    padding-left: 5px !important;
    font-weight: lighter !important;
    color: rgb(117, 117, 117) !important;
}

nav .drawer-item-category {
    cursor: default !important;
}

.form {
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.form-buttons {
    margin-top: 24px;
    display:flex;
}

