html > body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: rgb(117, 117, 117);
}

body {
    margin: 0px;
}

fieldset {
    border: 1px solid #757575;
}

.closed {
    opacity: 0;
}

.layout {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.layout-closed {
    width: calc(100vw - 70px);
    margin-left: 70px;
}

.layout-opened {
    width: calc(100vw - 200px);
    margin-left: 200px;
}

header .appbar {
    box-shadow: none !important;
    position: fixed !important;
}

nav .drawer-container {
    box-shadow: none !important;
    border-right: 1px solid #e0e4e7;
}

nav .drawer-appbar {
    box-shadow: none !important;
}

nav .drawer-item {
    padding-left: 5px !important;
    font-weight: lighter !important;
    color: rgb(117, 117, 117) !important;
}

nav .drawer-item-category {
    cursor: default !important;
}

main {
    margin-top: 64px;
}

.form {
    width: 90%;
    margin: auto;
}

.form-row {
    display: flex;
    flex-flow: row wrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0 18px 18px 18px;
}

.form-row-label {
    align-self: center;
    width: 200px;
}

.form-row-field {
    line-height: 24px;
    width: 256px;
    height: 48px;
    position: relative;
}

.form-inline {
    display: flex;
}

.form-inline div {
    margin-right: 20px;
}

.form-buttons {
    margin-top: 24px;
    display: flex;
}

