/**
 *  Dropdown button
 */

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-btn {
    font-weight: 500;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFF;
    margin: 0;
    background-color: rgb(67, 127, 157);
    display: inline-block;
    height: 36px;
    padding: 0 26px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    touch-action: manipulation;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 0.03em;
    position: relative;
    overflow: hidden;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

/*.dropdown-btn:hover {*/
/*background-color: rgba(255, 255, 255, 0.4);*/
/*}*/

.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #FFF;
    border-radius: 2px;
    z-index: 1;
    background-clip: padding-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.429;
    color: rgb(117, 117, 117);
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: rgb(117, 117, 117);
    background-color: #EEEEEE;
}

.dropdown-menu > .dropdown-disabled > a,
.dropdown-menu > .dropdown-disabled > a:hover,
.dropdown-menu > .dropdown-disabled > a:focus {
    color: #EEEEEE;
}

.dropdown-menu > .dropdown-disabled > a:hover,
.dropdown-menu > .dropdown-disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    cursor: not-allowed;
}

.dropdown-menu-right {
    left: auto;
    right: 0;
}