html > body {
    font: 14px "Open Sans", sans-serif;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    color: rgb(117, 117, 117);
}

html > button {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
    color: #65519f;
}

/*a {*/
/*text-decoration: none;*/
/*font-weight: 600;*/
/*color: rgb(117, 117, 117)*/
/*}*/

/*a:hover {*/
/*color: #65519f;*/
/*}*/

.hide {
    display: none !important;
}

.grow {
    flex-grow: 1;
}

.Swarmpit-new-tab {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    -webkit-border-radius: 0 50px 50px 0;
    border-radius: 0 50px 50px 0;
    color: rgb(117, 117, 117);
}

.Swarmpit-new-tab:hover {
    color: #65519f;
}

.Swarmpit-new-tab-ico {
    font-size: 16px !important;
    margin-left: 5px;
}

.Swarmpit-secondary-title {
    color: rgba(0, 0, 0, 0.54);
}

.Swarmpit-root {
    flex-grow: 1;
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
}

.Swarmpit-toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 56px;
}

.Swarmpit-context {
    flex-grow: 1;
    background-color: #fafafa;
}

.Swarmpit-card {
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.Swarmpit-page {
    display: flex;
    justify-content: center;
    background: #E1E2E1;
    min-height: 100vh;
}

.Swarmpit-fab {
    position: fixed !important;
    z-index: 2;
    bottom: 20px;
    left: calc(50% - 26px);
}

.Swarmpit-popper {
    z-index: 1;
}

.Swarmpit-message {
    display: flex;
    align-items: center;
}

.Swarmpit-message-icon {
    opacity: 0.9;
    margin-right: 8px;
}

.Swarmpit-button-icon {
    margin-right: 8px;
}

.Swarmpit-paper {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.Swarmpit-row {
    display: flex;
    flex-wrap: wrap;
}

.Swarmpit-row-space {
    display: flex;
    justify-content: space-between;
}

.Swarmpit-margin-normal {
    margin-top: 16px;
    margin-bottom: 8px;
}

.Swarmpit-menu-info {
    opacity: 0.7;
}

/** Appbar **/

.Swarmpit-appbar {
    position: absolute;
    margin-left: 200px;
    background: linear-gradient(60deg, #65519f, #362870);
    box-shadow: none;
    z-index: 1201 !important;
    transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.Swarmpit-appbar-user-menu-logged-info {
    opacity: 0.7 !important;
}

.Swarmpit-appbar-user-menu-logged-user {
    font-weight: 600;
}

.Swarmpit-appbar-search {
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-right: 16px;
    margin-left: 0;
    width: 100%;
}

.Swarmpit-appbar-subtitle {
    display: none !important;
    margin-left: 10px !important;
}

.Swarmpit-appbar-search:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.Swarmpit-appbar-search-icon {
    width: 56px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Swarmpit-appbar-search-root {
    color: inherit !important;
    width: 100%;
}

.Swarmpit-appbar-search-input {
    padding: 8px 8px 8px 80px !important;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.Swarmpit-appbar-search-mobile {
    position: absolute;
    display: flex;
}

.Swarmpit-appbar-search-mobile-root {
    flex-grow: 1;
}

.Swarmpit-appbar-search-mobile-input {
    color: #5f6368 !important;
    font-size: 24px !important;
}

.Swarmpit-appbar-search-mobile-close {
    color: #5f6368;
}

.Swarmpit-appbar-search-mobile-content {
    background-color: #fff !important;
}

.Swarmpit-appbar-search-mobile-content-message {
    flex: 1
}

.Swarmpit-appbar-search-mobile-message {
    display: flex;
    align-items: center;
}

.Swarmpit-appbar-avatar {
    border: 1px solid #fff;
}

.Swarmpit-section-desktop,
.Swarmpit-appbar-section-desktop {
    display: none;
    align-items: center;
}

.Swarmpit-section-mobile,
.Swarmpit-appbar-section-mobile {
    display: flex;
    align-items: center;
}

/** Drawer **/

.Swarmpit-drawer > div {
    white-space: nowrap;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.Swarmpit-drawer-content {
    width: 200px;
}

.Swarmpit-list-item-icon,
.Swarmpit-drawer-item-icon,
.Swarmpit-drawer-item-text > h6 {
    color: rgb(117, 117, 117) !important;
}

.Swarmpit-drawer-item-selected {
    border-left: 5px solid #65519f !important;
    padding-left: 11px !important;
}

.Swarmpit-drawer-item-icon-selected,
.Swarmpit-drawer-item-text-selected > h6 {
    color: #65519f !important;
    font-weight: 600 !important;
}

.Swarmpit-title {
    display: flex;
    flex-grow: 1;
    min-height: 56px;
    align-items: flex-start;
    padding-left: 24px;
    flex-direction: column;
    justify-content: center;
}

.Swarmpit-title > a:link {
    text-decoration: none;
}

.Swarmpit-title > a:visited {
    text-decoration: none;
}

.Swarmpit-title > a:hover {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: underline;
}

.Swarmpit-title-name {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.3125rem;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.16667em;
}

.Swarmpit-title-version {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.75rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.375em;
}

/** Login screen **/

.Swarmpit-login-layout {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.Swarmpit-login-paper {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px 24px;
}

.Swarmpit-login-avatar {
    margin: 8px;
    background-color: #65519f;
}

.Swarmpit-login-text {
    color: #65519f !important;
}

.Swarmpit-login-form {
    margin-top: 8px;
}

.Swarmpit-login-form > div {
    margin-bottom: 24px;
}

/** Progress button **/

.Swarmpit-progress-button-wrapper {
    position: relative;
}

.Swarmpit-progress-button {
    color: #65519f;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
}

/** List **/

.Swarmpit-table {
    background-color: #fff;
    font-weight: 300;
}

.Swarmpit-table-card > thead > tr > th,
.Swarmpit-table-card > tbody > tr > td {
    padding: 0 20px 0 0 !important;
}

.Swarmpit-table-card-content {
    padding: 0 !important;
}

.Swarmpit-table-cell {
    padding: 4px 56px 4px 4px !important;
}

.Swarmpit-table-cell-secondary {
    color: rgba(0, 0, 0, 0.54);
}

.Swarmpit-table-head-cell {
    text-transform: uppercase !important;
}

.Swarmpit-table-row-cell {
    border-bottom: none !important;
    border-top: 1px solid rgba(224, 224, 224, 1);
}

.Swarmpit-table-info-row {
    height: 26px !important;
}

.Swarmpit-table-status {
    width: 150px;
    text-align: center;
}

.Swarmpit-list-context {
    padding: 0 24px;
}

/*.Swarmpit-list-item-text {*/
/*width: calc(100% - 280px);*/
/*}*/

.Swarmpit-list-item-text-primary,
.Swarmpit-list-item-text-secondary {
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
}

.Swarmpit-list-item-edit > div {
    padding-right: 10px;
    width: 100%;
}

.Swarmpit-list-item-edit-small > div {
    flex-direction: column;
    max-width: 350px;
    padding: 20px 0 20px 0;
}

/** Form content **/

.Swarmpit-form-context {
    padding: 24px 24px;
}

.Swarmpit-form-toolbar {
    padding: 0 24px 24px;
}

.Swarmpit-form-toolbar-context {
    padding: 0 24px;
}

.Swarmpit-form-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.Swarmpit-form-buttons > * {
    margin: 5px !important;
}

.Swarmpit-form-section {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.Swarmpit-form-card {
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.Swarmpit-form-card-single {
    max-width: 500px;
}

.Swarmpit-form-card-icon {
    top: 1px;
    position: relative;
    margin-right: 3px;
    font-size: 16px !important;
}

.Swarmpit-form-card-icon-item {
    display: flex;
}

.Swarmpit-form-card-icon-item-id {
    word-break: break-all;
}

.Swarmpit-form-card-icon-text {
    font-size: 12px !important;
}

.Swarmpit-form-card-labels {
    display: inline-flex;
}

.Swarmpit-form-card-labels > span {
    margin-right: 5px;
}

/* Logs */

.Swarmpit-log {
    padding: 1em;
    font-family: monospace;
    font-size: 13px;
    background: black;
    color: #CCC;
    min-height: calc(100vh - 64px);
}

.Swarmpit-log-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.log-info {
    color: #FFF;
}

/* Labels & Status ico  */

.Swarmpit-label {
    color: #fff;
    padding: 5px 12px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    border-radius: 12px;
    text-transform: uppercase;
    vertical-align: baseline;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.Swarmpit-label-pulsing {
    background-color: #ffa000 !important;
    animation: pulse 2s infinite;
}

.Swarmpit-label-green {
    background-color: #43a047 !important;
}

.Swarmpit-label-red {
    background-color: #d32f2f !important;
}

.Swarmpit-label-yellow {
    background-color: #ffa000 !important;
}

.Swarmpit-label-blue {
    background-color: #1976d2 !important;
}

.Swarmpit-label-primary {
    background-color: #65519f !important;
}

.Swarmpit-label-grey,
.Swarmpit-label-info {
    background-color: #6c757d !important;
}

.Swarmpit-icon-ok > svg {
    color: #43a047;
}

.Swarmpit-icon-error > svg {
    color: #d32f2f;
}

.Swarmpit-icon-warning > svg {
    color: #ffa000;
}

.Swarmpit-icon-accept > svg {
    color: #1976d2
}

.Swarmpit-icon-info > svg {
    color: #6c757d;
}

/* Codemirror custom */

.Swarmpit-codemirror {
    border-radius: 4px !important;
    border: 1px solid rgba(0, 0, 0, 0.23) !important;
}

.Swarmpit-codemirror > div {
    padding: 0 !important;
}

.Swarmpit-codemirror-ro > div:before,
.Swarmpit-codemirror > div:before {
    border-bottom: none !important;
}

/* SERVICE */

.Swarmpit-service-list-port {
    font-size: 10px;
    color: rgb(158, 158, 158);
}

.Swarmpit-service-slider-title {
    padding-bottom: 10px;
}

.Swarmpit-service-replicas-graph {
    width: 150px;
    height: 150px;
}

.Swarmpit-service-tabs {
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.Swarmpit-image-search {
    margin-top: 10px;
    flex-direction: column;
    display: flex;
}

/* NODE */

.Swarmpit-node-stat {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.Swarmpit-image-owner {
    font-size: 12px;
    color: rgb(158, 158, 158);
}

.Swarmpit-node-stat-graph {
    min-width: 96px;
    min-height: 96px;
    width: 120px;
    height: 120px;
}

.Swarmpit-node-href {
    color: inherit;
    text-decoration: inherit;
}

.Swarmpit-card-header-responsive-title {
    word-break: break-word;
}

.volume-mountpoint {
    word-break: break-all;
}

/**** MEDIA ****/

/* MEDIUM DEVICES [MD] */
@media (min-width: 960px) {
    .Swarmpit-context {
        margin-left: 200px;
    }

    .Swarmpit-appbar {
        width: calc(100% - 200px) !important;
    }

    .Swarmpit-appbar-menu-btn {
        display: none !important;
    }

    .Swarmpit-appbar-section-desktop {
        display: flex;
    }

    .Swarmpit-appbar-section-mobile {
        display: none;
    }
}

/* SMALL DEVICES [SM] */
@media (min-width: 600px) {
    .Swarmpit-toolbar {
        min-height: 64px;
    }

    .Swarmpit-title {
        min-height: 64px;
    }

    .Swarmpit-drawer-item-selected {
        padding-left: 19px !important;
    }

    .Swarmpit-drawer-closed > div {
        width: 72px;
    }

    .Swarmpit-appbar-title,
    .Swarmpit-appbar-subtitle {
        display: block !important;
    }

    .Swarmpit-appbar-search {
        width: auto;
        margin-left: 24px;
    }

    .Swarmpit-appbar-search-input {
        width: 100%;
    }

    .Swarmpit-appbar-search-input:focus {
        width: 100%;
    }

    .Swarmpit-section-desktop {
        display: flex;
    }

    .Swarmpit-section-mobile {
        display: none;
    }
}

/* EXTRA SMALL DEVICES [XS] */
@media all and (max-width: 600px) {
    .Swarmpit-login-layout {
        width: auto;
        margin-left: 24px;
        margin-right: 24px;
    }

    .Swarmpit-context {
        width: 100%;
    }

    .Swarmpit-form-toolbar {
        padding: 0 10px 10px;
    }

    .Swarmpit-form-context {
        padding: 20px 10px;
    }

    .Swarmpit-form-toolbar-context {
        margin-top: 10px;
        padding: 0 10px;
    }

    .Swarmpit-form-panel-search {
        width: 100%;
        margin-bottom: 10px;
    }

    .Swarmpit-node-stat {
        padding: 0;
    }

    /*.Swarmpit-list-item-text {*/
    /*width: calc(100% - 80px);*/
    /*}*/
}
