html > body {
    /*font-family: "Open Sans", sans-serif;*/
    /*font-size: 14px;*/
    /*color: rgb(117, 117, 117);*/

    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

html > button {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.hide {
    display: none !important;
}

.Swarmpit-root {
    flex-grow: 1;
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: flex;
}

.Swarmpit-toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 56px;
}

.Swarmpit-context {
    flex-grow: 1;
    background-color: #fafafa;
    /*padding: 24px;*/
}

.Swarmpit-page {
    display: flex;
    justify-content: center;
    background: url("../img/background.png") no-repeat;
    min-height: 100vh;
}

/** Appbar **/

.Swarmpit-appbar {
    z-index: 1201 !important;
    transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.Swarmpit-appbar-title {
    flex-grow: 1;
}

.Swarmpit-appbar-shift {
    margin-left: 200px;
    width: calc(100% - 200px) !important;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.Swarmpit-appbar-menu-btn {
    margin-left: 4px !important;
    margin-right: 26px !important;
}

.Swarmpit-appbar-user-menu-logged-info {
    opacity: 0.7 !important;
}

.Swarmpit-appbar-user-menu-logged-user {
    font-weight: 600;
}

/** Drawer **/

.Swarmpit-drawer > div {
    position: relative;
    white-space: nowrap;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    width: 200px;
}

.Swarmpit-drawer-closed > div {
    overflow-x: hidden;
    transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    width: 56px;
}

.Swarmpit-drawer-item-icon,
.Swarmpit-drawer-item-text > span {
    color: rgba(0, 0, 0, 0.54) !important;
}

.Swarmpit-drawer-category-text > span {
    /*color: rgb(99, 99, 99) !important;*/
}

.Swarmpit-drawer-item-selected {
    border-left: 5px solid #65519f !important;
    padding-left: 11px !important;
}

.Swarmpit-drawer-item-icon-selected,
.Swarmpit-drawer-item-text-selected > span {
    color: #65519f !important;
    font-weight: 600 !important;
}

.Swarmpit-title {
    display: flex;
    flex-grow: 1;
    min-height: 56px;
    align-items: flex-start;
    padding-left: 24px;
    flex-direction: column;
    justify-content: center;
}

.Swarmpit-title > a:link {
    text-decoration: none;
}

.Swarmpit-title > a:visited {
    text-decoration: none;
}

.Swarmpit-title > a:hover {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: underline;
}

.Swarmpit-title-name {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.3125rem;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.16667em;
}

.Swarmpit-title-version {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.75rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.375em;
}

/** Login screen **/

.Swarmpit-login-layout {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
}

.Swarmpit-login-paper {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px 24px;
}

.Swarmpit-login-avatar {
    margin: 8px;
    background-color: #65519f;
}

.Swarmpit-login-text {
    color: #65519f !important;
}

.Swarmpit-login-form {
    margin-top: 8px;
}

.Swarmpit-login-form-submit {
    margin-top: 24px !important;
}

/** List **/

.Swarmpit-data-table {
    background-color: #fff !important;
}

.Swarmpit-data-table-head-cell {
    text-transform: uppercase !important;
}

.Swarmpit-data-list-expandable-panel-summary-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.Swarmpit-data-list-expandable-panel-summary-content > div {
    margin-right: 5px;
}

.Swarmpit-data-list-expandable-panel-summary-text {
    width: 100%;
}

.Swarmpit-data-list-expandable-panel-details-text {
    opacity: 0.5;
    width: 100%;
}

/** Form panel **/

.Swarmpit-form-panel {
    display: flex;
    overflow: hidden;
    margin: 1em 0;
    align-items: center;
    padding: 0 24px;
}

.Swarmpit-form-panel-search {
    margin-right: auto;
    height: 36px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    /*border: 2px solid rgba(101, 81, 159, 0.5);*/
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.Swarmpit-form-panel-search:focus {
    border-color: #65519f;
    box-shadow: 0 0 0 0.2rem rgba(101, 81, 159, 0.5);
}

.Swarmpit-form-panel-search > div {
    margin: auto 14px;
    width: 100%;
}

.Swarmpit-form-panel-search-input {
    width: 100%;
}

.Swarnpit-form-panel-search-icon {
    opacity: 1;
    transform: scale(1, 1);
    transition: transform 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    color: #65519f !important;
    height: 36px !important;
}

/** Form content **/

.Swarmpit-form-context {
    padding: 0 24px;
}

.Swarmpit-form-envelope {
    flex-direction: column;
}

.Swarmpit-form-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 4px;
}

.Swarmpit-form-item > div {
    text-align: left;
}

.Swarmpit-form-item-label {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
    text-transform: uppercase;
    width: 150px;
}

/* Status icons */

.Swarmpit-icon-ok > svg {
    color: #3a9e29;
}

/* Labels */

.Swarmpit-label {
    font-size: 0.875rem;
    min-width: 64px;
    min-height: 36px;
    box-sizing: border-box;
    line-height: 1.4em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
}

.Swarmpit-label-green {
    color: #3a9e29;
}

.Swarmpit-label-red {
    color: rgb(244, 67, 54);
}

.Swarmpit-label-yellow {
    color: #9e931b;
}

.Swarmpit-label-blue {
    color: #437f9d;
}

.Swarmpit-label-grey {
    color: rgb(117, 117, 117);
}

.Swarmpit-label-info {
    color: rgb(117, 117, 117);
    border: 1px solid rgb(224, 228, 231);
    border-radius: .25em;
    padding: .2em .6em .3em;
}

/* SERVICE */

.Swarmpit-service-list-port {
    font-size: 10px;
    color: rgb(158, 158, 158);
}

/* Medium screens */
@media all and (max-width: 800px) {
    .Swarmpit-form-panel {
        justify-content: space-around;
    }

    .Swarmpit-data-list-expandable-panel-summary-text {
        width: 200px;
    }

    .Swarmpit-data-list-expandable-panel-details-text {
        width: 200px;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .Swarmpit-form-panel {
        flex-direction: column;
    }

    .Swarmpit-form-panel-search {
        width: 100%;
        margin-bottom: 10px;
    }

    .Swarmpit-form-item {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .Swarmpit-form-item > div {
        width: 100%;
    }
}

@media (min-width: 600px) {

    .Swarmpit-toolbar {
        min-height: 64px;
    }

    .Swarmpit-title {
        min-height: 64px;
    }

    .Swarmpit-drawer-item-selected {
        padding-left: 19px !important;
    }

    .Swarmpit-drawer-closed > div {
        width: 72px;
    }

    .Swarmpit-appbar-menu-btn {
        margin-left: 12px !important;
        margin-right: 36px !important;
    }
}

@media (min-width: 448px) {
    .Swarmpit-login-layout {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 0px) and (orientation: landscape) {
    .Swarmpit-drawer-toolbar {
        /*min-height: 48px;*/
    }
}

