{:Name           "hello-world",
 :Labels         {:swarmpit.service.deployment.autoredeploy "false"},
 :TaskTemplate   {:ContainerSpec {:Image "hello-world:latest", :Mounts [], :Secrets [], :Env []},
                  :RestartPolicy {:Condition "any", :Delay 5000000000, :MaxAttempts 0},
                  :Placement     {:Constraints []},
                  :ForceUpdate   nil,
                  :Networks      []},
 :Mode           {:Replicated {:Replicas 1}},
 :UpdateConfig   {:Parallelism 1, :Delay 0, :FailureAction "pause"},
 :RollbackConfig {:Parallelism 1, :Delay 0, :FailureAction "pause"},
 :EndpointSpec   {:Ports []}}